/*styles for portal page*/
    *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    }
    body{
        font-family: verdana, helvetica, ariel, sans-serif;
        font-size: 95%; 
    }
/******************** Header ****************************/
    header{
        background:white;
        height: 200px;
        width: 1120px;
        margin: 10px auto 0 auto;
        /* margin-bottom: 5px; */
    }

    .header_inner{
        width: 190px;
        height: 200px;
        display: block;
        float: left;
        margin-bottom: 10px;
    }

    .logo_header_inner{
        height: 200px;
    }
/* ******************** nav bar **************************** */

    #nav_bar{
        height: 50px;
        width: 835px;
        margin: 150px auto 0 auto;
        float: right;
    }

    .nav_buttons_inner li{
        float: left;
        width: 70px;
        line-height: 50px;
        color: black;
        text-align: center;
    }

    .nav_buttons_inner a:hover{
        background: lightblue;
    }

    .nav_buttons_inner a{
        text-decoration: none;
        display: block;
        color: black;
    }

    .nav_inner{
        width: 740px;
        float: left;
        padding-right: 20px;
    }

    .nav_buttons_inner{
        width: 280px;
        height: 50px;
        float: right;
    }

    .nav_buttons_inner ul{
        margin: 0 auto;
    }

    .social_media_inner{
        /* background: beige; */
        /* width: 95px; */
        height: 50px;
        float: right;
        padding-top: 10px;
    }

    .sm_logos{
        float: right;
        height: 32px;
        padding-right: 10px;
    }

    /* ************** wrapper ************** */
    #wrapper{
        width: 1120px;
        margin: 0px auto;
        background: lightblue;
        height: 100%;
        clear: both;
    }

    main{
        float: left;
        width: 560px;
        height: 600px;
        padding-left: 20px;
        margin-bottom: 40px;
        padding-top: 40px;
    }
       
    
    ul{
        list-style-type: none;
       
    }
/* ******************* footer *************** */
    footer {
       height: 120px;
       clear: both;
       font-size: 1 em;
       background: white;
    }
    .two_col {
        width: 360px;
        height: 120px;
        margin-right: 20px;
        float: left;
        /* background: lightcoral; */
        padding-left: 40px;
    }
    .two_col li{
        float: left;
        margin-right: 50px;
        line-height: 120px;
        color: black;
    }
    .two_col a{
        color: black;
    }