/*styles for portal page*/
    *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    }
    body{
        font-family: verdana, helvetica, ariel, sans-serif;
        font-size: 95%; 
    }
/******************** Header ****************************/
    header{
        background:white;
        height: 200px;
        width: 1120px;
        margin: 0 auto 0 auto;
        /* margin-bottom: 5px; */
    }

    .header_inner{
        width: 190px;
        height: 200px;
        display: block;
        float: left;
        margin-bottom: 10px;
  
    }

    .logo_header_inner{
        height: 200px;
    }
/* ******************** nav bar **************************** */

    #nav_bar{
        height: 50px;
        width: 835px;
        margin: 150px auto 0 auto;
        float: right;

    }

    .nav_buttons_inner li{
        float: left;
        margin-left: 30px;
        line-height: 50px;


    }

    .nav_buttons_inner a{
        display: block;
        color: black;

    }

    .nav_buttons_inner a:hover{
        background: teal;
    }

    .nav_buttons_inner a{
        text-decoration: none;
    }

    .nav_inner{
        width: 740px;
        float: left;
        /* padding-right: 20px; */
        
    }

    .nav_buttons_inner{
        width: 280px;
        height: 50px;
        /* background: tan; */
        float: right;
        margin: 0 auto;
        
    }

    .nav_buttons_inner ul{
        
    }

    .social_media_inner{
        /* background: beige; */
        /* width: 95px; */
        height: 50px;
        float: right;
        padding-top: 10px;
    }

    .sm_logos{
        float: right;
        height: 32px;
        padding-right: 10px;
    }

    /* ************** wrapper ************** */
    #wrapper{
        width: 1120px;
        margin: 0px auto;
        background: lightblue;
        color: #F2F2E9;
        height: 100%;
        clear: both;
    }

    main{
        float: left;
        width: 560px;
        height: 600px;
        padding-left: 20px;
        margin-bottom: 40px;
        padding-top: 40px;
    }
        
    .right{
        float: right;
        margin-right: 20px;
        margin-bottom: 15px;
        border: #152840 solid 2px;  
    }
       
    h1{
        margin-bottom: 40px;
        color: #101CEB;
        font-size: 3em;
        text-align: center;
    }
    h2{
        margin-bottom: 40px;
        color: #101CEB;
        margin-left: 20px;
    }

    p{
        margin-bottom: 20px;
        line-height: 1.4; 
    }
    
    h3{
        color: #152840;
        margin-bottom: 8px;
    }
    
    ul{
        margin-left: 20px;
        list-style-type: none;
       
    }

    footer {
       height: 80px;
       background-color: #7A9EEB;
       clear: both;
       font-size: 1 em;
       padding-left: 60px;
       background-color: #325573;
       
    }

    footer li{
        float: left;
        list-style-type: none;
        margin-right: 60px;
        line-height: 80px;
    
    }

    .logo {
        height: 35px;
    }
    
    footer a {
        text-align: center;
        
     
    }

    
   
    